body {  
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius:10px;
  box-shadow:5px 5px 0px rgba(0,0,0,0.1);
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin: 20px 40px ;
  border: 1px dashed #ccc;
  border-radius:10px;
  position: relative;
  padding:70px 0;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #ccc;
  border: 1px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #222;
  padding: 20px 0;
  
}
i { color:#fbaf3b;}

.font_a {
  padding:40px 0 0 0;
  
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}


.result {
   text-align:center;
  
}
li { list-style:none;}

.result ul  { padding:0; margin:0;}
.result ul li span  {background:#fff; float:left; text-align:center; padding:0 10px; font-weight:bold; }
.result ul li span.p50 {background:#3b86fb; border-radius:7px; color:#fff; font-weight:bold; padding-right:300px;}
.result ul li span.p25 {background:#3c3bfb; border-radius:7px; color:#fff; font-weight:bold; padding-right:150px;}
.result ul li span.p10 {background:#653bfb; border-radius:7px; color:#fff; font-weight:bold; padding-right:50px;}
.result ul li { 
  background:#000;
  margin-bottom:5px;
  height:30px;
  line-height:30px;
  display:block;
  border-radius:5px;
  
}
.result p { font-size:23px; font-weight:bold; color:#3b86fb; }
.result div { margin-bottom:30px;}
.result ul li:nth-child(1) {background:#d4e2f7;}
.result ul li:nth-child(2) {background:#d4d4f7;}
.result ul li:nth-child(3) {background:#dcd4f7;}
